{% extends 'base.html.twig' %}

{% block title %}Manager{% endblock %}

{% block manager_item %}active{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Manager</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Manager</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Manager</h5>
                </div>
                <div class="ibox-content">





                </div>
            </div>
        </div>
    </div>
{% endblock %}