{% extends 'base.html.twig' %}

{% block title %}Vie privée{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Vie privée</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Vie privée</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Vie privée</h5>
                </div>
                <div class="ibox-content">
                    <strong>Nom</strong>
                    <p>FlowLine-EAE-EAP</p>

                    <strong>Description</strong>
                    <p>
                        <u>FlowLine-EAE-EAP</u> est une application pour effectuer ses entretiens annuels et
                        professionnels pour les collaborateurs de Flow Line Technologies.
                    </p>

                    <strong>Responsable du traitement</strong>
                    <div>Flow Line Technologie</div>
                    <div>655 Allées des Parcs</div>
                    <div>69800 SAINT PRIEST</div>
                    <p>Tel. +33 4 37 54 22 50</p>

                    <strong>Juridiction</strong>
                    <p>Lyon, France</p>

                    <strong>Méthodes de collecte</strong>
                    <p>Au cours de votre visite sur le site <u>FlowLine-EAE-EAP</u>, des données personnelles vous
                        concernant pourront être recueillies et/ou traitées de la façon suivante :</p>
                    <ul class="task-list">
                        <li>
                            En vous connectant à notre application, il vous faudra passer par l'authentificateur de
                            Microsoft qui nous fournira les données de l'utilisateur connecté qui sont : le nom, le
                            prénom et l'adresse électronique.
                        </li>
                        <li>
                            En créent vos entretiens, plusieurs données seront à fournir depuis divers formulaires
                            afin de pouvoir offrir le service demandé comme l'intitulé de poste, la fonction actuelle,
                            l'ancienneté dans la fonction, etc.
                        </li>
                    </ul>

                    <strong>Finalités</strong>
                    <p>Les données vous concernant sont recueillies et traitées aux seules fins mentionnées ci-dessous :</p>
                    <ul class="task-list">
                        <li>Création des entretiens annuels.</li>
                        <li>Création des entretiens professionnels.</li>
                        <li>Stockage avec possibilité de télécharger vos entretiens.</li>
                        <li>Envoi des entretiens (au format PDF) et suivis par courriel aux collaborateurs.</li>
                        <li>Avoir un visuel sur l'avancé des entretiens pour l'ensemble des collaborateurs.</li>
                        <li>Création</li>
                    </ul>
                    <div>
                        En vue d'assurer une bonne gestion du système informatique, nous pouvons accéder à toutes informations
                        stockée dans notre système informatique. La technologie évolue. <u>FlowLine-EAE-EAP</u> pourrait donc être amené à
                        effectuer des traitements qui ne sont pas encore prévus dans cette Charte.
                    </div>
                    <p>
                        Dans ce cas, nous vous contacterons avant de réutiliser vos données, afin de vous faire connaître les
                        changements du règlement et vous donner la possibilité, le cas échéant, de refuser cette réutilisation.
                    </p>

                    <strong>Consentement</strong>
                    <p>En utilisant notre site, vous déclarez explicitement accepter la politique de respect de la vie privée
                        de Flow Line Technologies, et vous consentez à ce que nous recueillions et traitions les données vous
                        concernant selon les modalités et principes décrits ici.</p>

                    <strong>Transmission des données</strong>
                    <p>
                        Vos données ne seront transmises à aucun tiers, à l’exception de la société Flow Line Technologies, qui
                        par ailleurs, est responsable de l’hébergeur et a mis en place toutes les dispositions nécessaires pour stocker
                        et traiter ces données avec la plus grande prudence, de façon à ce qu’elles ne puissent être portées de
                        façon illicite à la connaissance de tiers.
                    </p>

                    <strong>Droit d'accès et de rectification</strong>
                    <p>
                        Il vous est toujours possible de nous contacter afin de vérifier l’état des données vous concernant.
                        Nous vous les communiquerons dans les meilleurs délais, après avoir contrôlé votre identité. Vous pouvez
                        par ailleurs modifier vos données à tout moment via la page de création des entretiens. En cas de données erronées,
                        inexactes ou incomplètes, vous pourrez évidemment nous demander de rectifier ces informations. De même,
                        si vous estimez que notre site ne respecte pas la réglementation sur la protection de la vie privée,
                        vous pouvez nous contacter.
                    </p>

                    <strong>Droit de suppression</strong>
                    <p>
                        Il vous est possible de nous contacter à tout moment pour anonymiser vos données.
                        Nous nous engageons à le faire dans les meilleurs délais.
                    </p>

                    <strong>Sécurité</strong>
                    <p>
                        Flow Line Technologies s'engage à faire ses meilleurs efforts pour protéger vos données à caractère personnel,
                        afin notamment d'empêcher qu'elles soient déformées, endommagées ou communiquées à des tiers non autorisés.
                    </p>

                    <strong>RGPD</strong>
                    <p>
                        Flow Line Technologies s’engage à respecter le
                        <a class="link-rgpd" target="_blank" href="https://www.autoriteprotectiondonnees.be/reglement-general-sur-la-protection-des-donnees#xd_co_f=ZjM0MWNkYjAtYzIwNS00MTk5LWI2OTktMmY0MDU1OWQ5OWJh~">
                            Règlement Général sur la Protection des Données.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}