{% extends 'base.html.twig' %}

{% block title %}Entretiens en cours{% endblock %}

{% block interview_item %}active{% endblock %}
{% block interviewInProgress %}active{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/interviews/pagination/paginationHandler.js') }}"></script>
{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Liste des entretiens en cours</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Entretiens en cours</strong>
                </li>
            </ol>
        </div>
    </div>

    {# array #}
    <div class="row margin-bottom-30">
        <div id="url_data_interview" data-url="{{ path('interview_in_progress_search') }}"></div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Entretiens en cours</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="clients-list">
                        <ul class="nav nav-tabs nav-tab-interview">
                            <li class="active" data-nav="professional">
                                <a data-toggle="tab">
                                    <i class="fa fa-file-text"></i> Entretien professionnel
                                </a>
                            </li>
                            <li data-nav="annual">
                                <a data-toggle="tab">
                                    <i class="fa fa-file-text-o"></i> Entretien annuel
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" data-nav="professional" style="height: auto;">
                                <div class="margin-top-20">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <input type="text" data-nav="professional" placeholder="Rechercher ..." class="input-sm form-control search-array">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        {% include 'interviews/interview_progress/partial/pro_interview.html.twig' with {
                                            'data' : proInterview.data,
                                            'pagination' : proInterview.pagination
                                        } %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" data-nav="annual" style="height: auto;">
                                <div class="margin-top-20">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <input type="text" data-nav="annual" placeholder="Rechercher ..." class="input-sm form-control search-array">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        {% include 'interviews/interview_progress/partial/annual_interview.html.twig' with {
                                            'data' : annualInterview.data,
                                            'pagination' : annualInterview.pagination
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}