{# modal keep alive #}
<div class="modal inmodal fade" id="modal_cgu">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Conditions Générales d'Utilisation (CGU)</h4>
            </div>
            <div class="modal-body">
                <div class="content-cgu">
                    <strong>Préambule :</strong>
                    <div>Le Site désigne le site internet <strong>FlowLine-EAE-EAP</strong> édité par la société Flow Line Technologies.</div>
                    <div>Le terme Utilisateur désigne l’ensemble des internautes, inscrits ou non, qui naviguent sur le site.</div>
                    <p>Le terme Client désigne l’ensemble des internautes connectés sur le site <strong>FlowLine-EAE-EAP</strong></p>

                    <strong>Champ d’application :</strong>
                    <div>Les présentes Conditions Générales d’Utilisation régissent les relations contractuelles entre tout Utilisateur du Site.</div>
                    <div>L’Utilisateur est invité à lire avec la plus grande attention le présent document et de renouveler sa lecture à chaque fois qu’il consulte le Site.</div>
                    <div>En effet, l’utilisation du Site constitue son acceptation des dites conditions générales d’utilisations.</div>
                    <p>
                        Les conditions générales présentées ici peuvent être modifiées afin de prendre en compte des changements
                        liés à la législation française ou la modification de logiciels du site. Une consultation de
                        ces Conditions Générales d’Utilisation doit donc être réalisée régulièrement par l’Utilisateur.
                    </p>

                    <strong>Droit de propriété intellectuelle :</strong>
                    <div>
                        La Société Editrice du site <strong>FlowLine-EAE-EAP</strong> est le propriétaire exclusif de
                        tous les droits de propriété intellectuelle portant tant sur la structure que sur
                        le contenu du Site
                    </div>
                    <div>
                        Tous les éléments figurant sur le présent Site (images, bases de données, marques, illustrations,
                        logos, dessins, modèles, mise en page, documents téléchargeables) sont protégés en tant
                        qu’œuvres de l’esprit par la législation française et internationale sur le droit d’auteur et la
                        propriété intellectuelle. Sauf autorisation préalable et écrite, toute reproduction,
                        représentation, adaptation, modification partielle ou intégrale de tout élément composant le
                        Site, par quelque moyen que ce soit, est interdite sous peine de poursuite judiciaire.
                    </div>
                    <p>
                        Toute utilisation dans un cadre professionnel ou commercial ou toute commercialisation de ce
                        contenu auprès de tiers est interdite, sauf accord exprès de la Société Flow Line Technologies.
                    </p>

                    <strong>Responsabilité :</strong>
                    <div>
                        Les services proposés sont conformes à la législation française en vigueur. Les photographies et
                        les textes reproduits et illustrant les produits et services présentés ne sont pas contractuels.
                        En conséquence, la responsabilité de la société Flow Line Technologies ne saurait être engagée en cas
                        d’erreur dans l’une de ces photographies ou l’un de ces textes.
                    </div>
                    <p>
                        Les éventuels liens figurant dans le Site et renvoyant vers des sites externes sont fournis à titre informatif.
                        Flow Line Technologies ne saurait être tenue pour responsable du contenu de ces sites externes référencés.
                    </p>

                    <strong>Données personnelles :</strong>
                    <div>
                        Les données recueillies sont utilisées pour le bon fonctionnement du site mais ainsi que pour des statistiques.
                    </div>
                    <div>
                        Flow Line Technologies traite les données à caractère personnel de ses clients
                        qui sont : le nom, le prénom, l'adresse email ainsi que la date de naissance.
                    </div>
                    <div>
                        Ces données correspondent aux données fournies lors de la premieère connexion ainsi que grace à la création des entretiens
                        depuis notre site <strong>FlowLine-EAE-EAP</strong>.
                    </div>
                    <p>
                        Ces données font l’objet d’un traitement qui a pour finalité de permettre à l’Utilisateur de créer ses entretiens annuels et professionnels.
                    </p>

                    <strong>Droit d’accès et de rectification :</strong>
                    <div>
                        Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée par la loi du 6 août
                        2004, l’utilisateur dispose du droit d’accès, de modification des informations qui le concernent.
                        Les clients de Flow Line Technologies disposent d’un droit d’accès et de rectification aux données les concernant.
                    </div>
                    <p>
                        Pour cela il vous suffit de demander a la société Flow Line Technologies pour modifier vos informations
                        personnelles. Vous pouvez également nous demander de rendre anonyme ou bien la suppression complète de vos données.
                    </p>

                    <strong>Périodes de conservation :</strong>
                    <p>
                        Les données personnelles citées ci-dessus sont conservées tant que le client ne demande pas
                        anonymisation ou bien la suppression de ses données.
                    </p>

                    <strong>Responsabilité :</strong>
                    <div>
                        Flow Line Technologies décline toute responsabilité en cas de transmission volontaire ou
                        involontaire par l’Utilisateur à un tiers des codes d’accès qu’il lui appartient de conserver
                        en lieu sûr et dont l’utilisation par un tiers pourrait entrainer la divulgation, l’altération
                        ou la suppression des données personnelles de l’Utilisateur.
                    </div>
                    <p>
                        Flow Line Technologies s’engage à garantir la confidentialité des données à caractère personnel
                        et veiller à ce que les personnes autorisées à traiter les données à caractère personnel s’engagent
                        à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité.
                    </p>

                    <strong>Sécurité des données :</strong>
                    <div>
                        De plus, Flow Line Technologies hébergement elle-même de son sites pour assurer la sécurité des
                        données personnelles confiées par ses Clients.
                    </div>
                    <div>
                        Flow Line Technologies s’engage à garantir la confidentialité des données à caractère personnel
                        et veiller à ce que les personnes autorisées à traiter les données à caractère personnel s’engagent
                        à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité.
                    </div>
                    <p>
                        Les données de nos Utilisateurs sont stockées exclusivement en France ou dans l’Union Européenne,
                        Les serveurs que nous utilisons sont situés dans des data center certifiés par les normes environnementales
                        (ISO 14001), de qualité (ISO 9001) et de sécurité de l’information (ISO 27001),
                        L’infrastructure hardware et software sur laquelle les sites sont hébergés est conçue pour
                        garantir une sécurité absolue des données
                    </p>

                    <strong>Cookies :</strong>
                    <p>
                        Lorsque vous consultez les sites de Flow Line Technologies, des données de trafic et des fichiers
                        de cookies peuvent être stockées sur votre ordinateur aux fins de procéder, en interne,
                        à des analyses de fréquentation des pages d’informations du Site afin d’en améliorer le
                        contenu ainsi qu’à établir des données statistiques (pages consultées, heures de consultation, etc…).
                        Vous pouvez gérer les paramètres d’enregistrement de cookies à partir de vos navigateurs.
                    </p>
                </div>
                <input type="checkbox" id="cgu_checkbox">
                En cochant la case ci-contre, j'affirme avoir pris connaissance et accepte sans réserve les conditions générales d'utilisation ci-dessus.
            </div>

            <div class="modal-footer">
                <button style="opacity: 0.5;" type="button" class="btn btn-primary" id="cgu_validated">
                    <span>Valider</span>
                    <i class="fa fa-spinner fa-spin" style="display:none;margin-left:10px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>